<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leets 면접 안내</title>
    <link rel="stylesheet" href="./styles/pulsEmailStyles.css" />
  </head>
  <body>
    <div th:if="${theme == 1}" style="background-color: rgb(255, 255, 255)">
      <table class="blueTable">
        <tr>
          <td style="padding: 20px">
            <img
              src="https://i.imgur.com/FvQO2Uk.png"
              alt="logo"
              class="blueImg"
            />
            Leets
          </td>
        </tr>
      </table>
      <table class="mainTable">
        <tr>
          <td class="mainText">
            <span>
              [Leets 추가 안내] <br />
              <br />
              Leets 2기 지원자 여러분 안녕하세요. <br />
              우선 Leets 2기에 지원해주셔서 감사합니다.<br />
              <br />
              지원서를 기간 내에 제출하지 못한 분들의 문의가 고심 끝에 마감
              기간을 9/7로 연장했습니다. <br />
              더 좋은 인적 네트워크를 제공하기 위해 결정한 점 양해 부탁드립니다.
              <br />
              <br />
              제출해주셨던 지원서는 기간 내에 수정이 가능합니다. <br />
              수정사항이 없으신 경우 추가 제출하지 않으셔도 최종 지원으로
              인정됩니다.
              <br />
              <br />
              면접은 작성해주신 선호 일자에 진행 가능하며 변경 가능합니다.
              <br />
              기존 선호 날짜에 면접을 희망하신다면 9/4에 면접 안내 메일을
              드리겠습니다. <br />
              기존 면접 참석 여부, 변경 여부를 아래 연락처로 회신해 주시면
              감사하겠습니다. <br />
              기존 지원자분들의 면접 일정은 “최우선”으로 반영됩니다.<br />
              <br />
              날씨가 제법 선선해졌습니다. 환절기 감기 조심하시기 바랍니다.
              <br />
              다시 한 번 Leets에 관심을 가지고 지원해 주셔서 감사합니다. <br />
              <br />
              <br />
              변경 일정 (변경된 일정은 아래와 같습니다.) <br />
              *면접 대상자 발표: 23.09.09 <br />
              *면접: 23.09.11 ~ 23.09.15 <br />
              *최종 합격자 발표: 23.09.18 <br />
              *정규 활동 시작: 23.09.21 <br />
              <br />
              <br />
              연락처: 010-3035-5265<br />
              <br />
              <br />
            </span>
          </td>
        </tr>
      </table>
    </div>

    <div th:if="${theme == 2}" style="background-color: rgb(255, 255, 255)">
      <table class="mintTable">
        <tr>
          <td style="padding: 20px">
            <img
              src="https://i.imgur.com/Qmejhsi.png"
              alt="logo"
              class="mintImg"
            />
            Leets
          </td>
        </tr>
      </table>
      <table class="mainMintTable">
        <tr>
          <td class="mainText">
            <span>
              [Leets 추가 안내] <br />
              <br />
              Leets 2기 지원자 여러분 안녕하세요. <br />
              우선 Leets 2기에 지원해주셔서 감사합니다.<br />
              <br />
              지원서를 기간 내에 제출하지 못한 분들의 문의가 고심 끝에 마감
              기간을 9/7로 연장했습니다. <br />
              더 좋은 인적 네트워크를 제공하기 위해 결정한 점 양해 부탁드립니다.
              <br />
              <br />
              제출해주셨던 지원서는 기간 내에 수정이 가능합니다. <br />
              수정사항이 없으신 경우 추가 제출하지 않으셔도 최종 지원으로
              인정됩니다.
              <br />
              <br />
              면접은 작성해주신 선호 일자에 진행 가능하며 변경 가능합니다.
              <br />
              기존 선호 날짜에 면접을 희망하신다면 9/4에 면접 안내 메일을
              드리겠습니다. <br />
              기존 면접 참석 여부, 변경 여부를 아래 연락처로 회신해 주시면
              감사하겠습니다. <br />
              기존 지원자분들의 면접 일정은 “최우선”으로 반영됩니다.<br />
              <br />
              날씨가 제법 선선해졌습니다. 환절기 감기 조심하시기 바랍니다.
              <br />
              다시 한 번 Leets에 관심을 가지고 지원해 주셔서 감사합니다. <br />
              <br />
              <br />
              변경 일정 (변경된 일정은 아래와 같습니다.) <br />
              *면접 대상자 발표: 23.09.09 <br />
              *면접: 23.09.11 ~ 23.09.15 <br />
              *최종 합격자 발표: 23.09.18 <br />
              *정규 활동 시작: 23.09.21 <br />
              <br />
              <br />
              연락처: 010-3035-5265<br />
              <br />
              <br />
            </span>
          </td>
        </tr>
      </table>
    </div>

    <div th:if="${theme == 3}" style="background-color: rgb(255, 255, 255)">
      <table class="yellowTable">
        <tr>
          <td style="padding: 20px">
            <img
              src="https://i.imgur.com/me971ls.png"
              alt="logo"
              class="yellowImg"
            />
            Leets
          </td>
        </tr>
      </table>
      <table class="mainYellowTable">
        <tr>
          <td class="mainText">
            <span>
              [Leets 추가 안내] <br />
              <br />
              Leets 2기 지원자 여러분 안녕하세요. <br />
              우선 Leets 2기에 지원해주셔서 감사합니다.<br />
              <br />
              지원서를 기간 내에 제출하지 못한 분들의 문의가 고심 끝에 마감
              기간을 9/7로 연장했습니다. <br />
              더 좋은 인적 네트워크를 제공하기 위해 결정한 점 양해 부탁드립니다.
              <br />
              <br />
              제출해주셨던 지원서는 기간 내에 수정이 가능합니다. <br />
              수정사항이 없으신 경우 추가 제출하지 않으셔도 최종 지원으로
              인정됩니다.
              <br />
              <br />
              면접은 작성해주신 선호 일자에 진행 가능하며 변경 가능합니다.
              <br />
              기존 선호 날짜에 면접을 희망하신다면 9/4에 면접 안내 메일을
              드리겠습니다. <br />
              기존 면접 참석 여부, 변경 여부를 아래 연락처로 회신해 주시면
              감사하겠습니다. <br />
              기존 지원자분들의 면접 일정은 “최우선”으로 반영됩니다.<br />
              <br />
              날씨가 제법 선선해졌습니다. 환절기 감기 조심하시기 바랍니다.
              <br />
              다시 한 번 Leets에 관심을 가지고 지원해 주셔서 감사합니다. <br />
              <br />
              <br />
              변경 일정 (변경된 일정은 아래와 같습니다.) <br />
              *면접 대상자 발표: 23.09.09 <br />
              *면접: 23.09.11 ~ 23.09.15 <br />
              *최종 합격자 발표: 23.09.18 <br />
              *정규 활동 시작: 23.09.21 <br />
              <br />
              <br />
              연락처: 010-3035-5265<br />
              <br />
              <br />
            </span>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
