.mainText {
  color: black;
  font-size: 14.5px;
  font-weight: 700;
  padding: 20px;
  position: relative;
  text-align: left;
  margin-bottom: 30px;
  line-height: 22px;
}

.mainBlueTable {
  width: 100%;
  max-width: 536px;
  margin: 0px auto;
  text-align: center;
  margin-top: 50px;
  background-image: url("https://i.imgur.com/g2T7CbA.png");
  background-size: 218.76px 129.26px;
  background-repeat: no-repeat;
  background-position: center 50%;
}
.blueTable {
  width: 100%;
  max-width: 536px;
  margin: 0px auto;
  background-color: rgba(74, 147, 255, 0.5);
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding-left: 2px;
}
.blueImg {
  width: 39px;
  height: 25px;
  vertical-align: middle;
  fill: rgb(74, 147, 255);
}

.mintTable {
  width: 100%;
  max-width: 536px;
  margin: 0px auto;
  background-color: rgba(46, 183, 156, 0.5);
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding-left: 2px;
}
.mintImg {
  width: 39px;
  height: 25px;
  vertical-align: middle;
  fill: rgb(46, 183, 156);
}
.mainMintTable {
  width: 100%;
  max-width: 536px;
  margin: 0px auto;
  text-align: center;
  margin-top: 50px;
  background-image: url("https://i.imgur.com/L6dHI2T.png");
  background-size: 218.76px 129.26px;
  background-repeat: no-repeat;
  background-position: center 50%;
}

.yellowTable {
  width: 100%;
  max-width: 536px;
  margin: 0px auto;
  background-color: rgba(252, 184, 54, 0.5);
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding-left: 2px;
}
.yellowImg {
  width: 39px;
  height: 25px;
  vertical-align: middle;
  fill: rgb(252, 184, 54);
}
.mainYellowTable {
  width: 100%;
  max-width: 536px;
  margin: 0px auto;
  text-align: center;
  margin-top: 50px;
  background-image: url("https://i.imgur.com/DmLBCyB.png");
  background-size: 218.76px 129.26px;
  background-repeat: no-repeat;
  background-position: center 50%;
}
